<!DOCTYPE html>
<html ng-app="PostCommentRails">
<head>
  <title>PostComment</title>
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="navbar navbar-inverse" role="navigation">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#"></a>
          
         <div class="container-fluid nav-collapse">
            <ul class="nav">
            	<li></li>
              <li><%= link_to "Todo", "/#projects"  %></li> 
              <li><%= link_to "Posts", "/#posts"  %></li>
            </ul>
          </div>
          
          <!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span2">
          
        </div><!--/span-->
        <div class="span9">
          <%= render partial: "/layouts/flash" %>
          <div ng-view></div>
        </div>
      </div><!--/row-->

      <footer>
      <p><small></small></p>
      </footer>

    </div> <!-- /container -->

    <!-- Javascripts
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%= javascript_include_tag "application" %>
<script src="http://code.jquery.com/jquery-2.1.1.js"></script>

</body>
</html>
